@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i&display=swap");
@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/Gotham-Bold.otf");
}
@font-face {
  font-family: "gotham-book";
  src: url("../fonts/Gotham-Book.otf");
}
@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/Gotham-Medium.otf");
}
@font-face {
  font-family: "chocolates-bold";
  src: url("../fonts/Chocolates-Bold.otf");
}
body {
  cursor: url("../img/RedPenCursor.png"), auto;
}

* {
  box-sizing: border-box;
  color: #111111;
}

h1 {
  font-family: "Chocolates-Bold", Arial, sans-serif;
  color: #f9e618;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h2 {
  font-family: "Crimson Text", serif;
  font-size: 2em;
  line-height: 1.5;
}
@media (max-width: 1439px) {
  h2 {
    font-size: 1.75em;
  }
}

h3 {
  font-family: "Chocolates-Bold", Arial, sans-serif;
  font-size: 3em;
  letter-spacing: 1.5px;
  z-index: 1;
  margin: 0px;
  text-align: right;
  line-height: 1.25;
}
@media (max-width: 1919px) {
  h3 {
    font-size: 2.25em;
  }
}
@media (max-width: 1439px) {
  h3 {
    font-size: 2em;
  }
}
@media (max-width: 639px) {
  h3 {
    text-align: center;
  }
}

h4 {
  font-family: "Crimson Text", serif;
  font-style: italic;
}

h5 {
  font-family: "Chocolates-Bold", Arial, sans-serif;
  color: #f9e618;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0px;
}

h6 {
  font-family: "Gotham-Bold", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

p {
  font-family: "Gotham-Book", Arial, sans-serif;
  line-height: 2;
  letter-spacing: 0.2px;
}

a {
  color: #e7325b;
}
a:hover {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

.contrast_color {
  color: #f9e618;
}

.highlight {
  background-color: #f9e618;
}

.full-width {
  width: 100%;
}

.constrained_width {
  max-width: 65%;
  margin: 0 auto;
}
@media (max-width: 639px) {
  .constrained_width {
    max-width: 90%;
  }
}

.relative {
  position: relative;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex--space-between {
  align-items: center;
  justify-content: space-between;
}

.container {
  border: solid 1.5vw #ffffff;
  min-height: 100vh;
}
@media (max-width: 639px) {
  .container {
    border-width: 0px;
  }
}
.container__blush {
  background: #fff0ef;
}
.container__split_blush {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,fff0ef+30,fff0ef+100 */
  background: #fff0ef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 25%, #fff0ef 25%, #fff0ef 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 25%, #fff0ef 25%, #fff0ef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 25%, #fff0ef 25%, #fff0ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$white", endColorstr="$blush",GradientType=0 );
  /* IE6-9 */
}
@media (max-width: 639px) {
  .container__split_blush {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,fff0ef+30,fff0ef+100 */
    background: #fff0ef;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 20%, #fff0ef 20%, #fff0ef 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 20%, #fff0ef 20%, #fff0ef 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #fff0ef 20%, #fff0ef 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$white", endColorstr="$blush",GradientType=0 );
    /* IE6-9 */
  }
}

.headline {
  flex-basis: 0;
  flex-grow: 6;
  padding: 50px 50px 50px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.headline__h1 {
  font-size: 8em;
  margin: 0px;
  letter-spacing: 20px;
}
@media (max-width: 1439px) {
  .headline__h1 {
    font-size: 7em;
  }
}

.content {
  flex-basis: 0;
  flex-grow: 4;
  background: url("../img/iPhoneAndCircles.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
}

.box {
  background: #ffffff;
  margin-top: auto;
  padding: 15px;
}
.box--landing {
  padding: 10% 15%;
}
@media (max-width: 639px) {
  .box--landing {
    margin-left: 0;
    margin-right: 0;
  }
}
.box--transparent {
  background: transparent;
  padding: 15px 0px;
}
@media (max-width: 1439px) {
  .box__p {
    font-size: 0.95em;
  }
}

.callout {
  position: absolute;
  max-width: 250px;
}
.callout--class-large {
  right: -50px;
  bottom: 15%;
}
.callout--class-small {
  top: 25px;
  left: 25px;
}
@media screen and (min-width: 640px) {
  .callout--class-small {
    display: none;
  }
}
.callout--chat {
  width: 100px;
  left: -20px;
  bottom: 10px;
}
.callout--circles {
  z-index: 0;
  right: 15%;
  max-width: 15%;
}
@media (max-width: 639px) {
  .callout--circles {
    max-width: 25%;
    top: -5%;
  }
}

.accent {
  min-width: 65px;
  margin-right: 25px;
  padding: 20px 0px;
  position: relative;
}
.accent__h6 {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.cta {
  padding: 15px;
  margin-top: 15px;
}
.cta__btn {
  letter-spacing: 3px;
  min-width: 50%;
}

.btn {
  font-family: "Chocolates-Bold", Arial, sans-serif;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0px;
}
.btn:hover {
  cursor: pointer;
}
.btn--primary {
  background: #1e1e1e;
  color: #ffffff;
}
.btn--primary:hover {
  background: #050505;
}

.text_input {
  border: 0px;
  border-bottom: solid 1px rgba(30, 30, 30, 0.5);
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
}

.Dropdown-hidden {
  display: none;
}
.Dropdown-control {
  border: 0px;
  border-bottom: solid 1px rgba(30, 30, 30, 0.5);
}

.signature {
  max-width: 25%;
}

.logo {
  max-width: 115px;
  border-right: solid 1px rgba(30, 30, 30, 0.5);
  padding-right: 5%;
  margin-right: 15px;
  box-sizing: content-box;
}

.footer {
  margin: 50px auto;
}
.footer__links {
  font-family: "Gotham-Bold", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 0.5em;
  line-height: 2;
}
.footer__policies {
  font-size: 0.7em;
  max-width: 75%;
  margin: 0 auto;
}

.hidden {
  display: none;
}
@media (max-width: 639px) {
  .hidden--tablet {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
