// Breakpoints
$mobile: 320px;
$tablet: 640px;
$laptop-sm: 1200px;
$laptop: 1440px;
$desktop: 1920px;

@mixin for-tablet-down {
  @media (max-width: 639px) { @content; }
}
@mixin for-laptop-sm-down {
  @media (max-width: 1199px) { @content; }
}
@mixin for-laptop-down {
  @media (max-width: 1439px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1919px) { @content; }
}

// Colors
$blush: #fff0ef; 
$white: #ffffff;
$contrast: #f9e618;
$secondary_contrast: #e7325b;
$dark: #1e1e1e;
$default-text: #111111;

// replacement for Surveyor
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i&display=swap');

@font-face {
  font-family: 'gotham-bold';
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'gotham-book';
  src: url('../fonts/Gotham-Book.otf');
}

@font-face {
  font-family: 'gotham-medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'chocolates-bold';
  src: url('../fonts/Chocolates-Bold.otf');
}

$gotham-book: 'Gotham-Book', Arial, sans-serif;
$gotham-bold: 'Gotham-Bold', Arial, sans-serif;
$gotham-medium: 'Gotham-Medium', Arial, sans-serif;
$chocolates-bold: 'Chocolates-Bold', Arial, sans-serif;
$crimson: 'Crimson Text', serif;


// general //
body {
  cursor: url('../img/RedPenCursor.png'), auto;
}
* {
  box-sizing: border-box;
  color: $default-text;
}


// type //
h1 {
  font-family: $chocolates-bold;
  color: $contrast;
  letter-spacing: 6px;
  text-transform: uppercase;
}
h2 {
  font-family: $crimson;
  font-size: 2em;
  line-height: 1.5;
  @include for-laptop-down {
    font-size: 1.75em;
  }
}
h3 {
  font-family: $chocolates-bold;
  font-size: 3em;
  letter-spacing: 1.5px;
  z-index: 1;
  margin: 0px;
  text-align: right;
  line-height: 1.25;
  
  @include for-desktop-down {
    font-size: 2.25em;
  }
  @include for-laptop-down {
    font-size: 2em;
  }
  @include for-tablet-down {
    text-align: center;
  }
}
h4 {
  font-family: $crimson;
  font-style: italic;
}
h5 {
  font-family: $chocolates-bold;
  color: $contrast;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0px;
}
h6 {
  font-family: $gotham-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}
p {
  font-family: $gotham-book;
  line-height: 2;
  letter-spacing: .2px;
}
a {
  color: $secondary_contrast;
  &:hover {
    cursor: pointer;
  }
}


// modifiers //
.uppercase {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}
.contrast_color {
  color: $contrast;
}
.highlight {
  background-color: $contrast;
}
.full-width {
  width: 100%;
}
.constrained_width {
  max-width: 65%;
  margin: 0 auto;
  @include for-tablet-down {
    max-width: 90%;
  }
}
.relative {
  position: relative;
}
.screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.flex {
  display: flex;
  &--space-between {
    align-items: center;
    justify-content: space-between;
  }
}


// containers //
.container {
  border: solid 1.5vw $white;
  min-height: 100vh;

  @include for-tablet-down {
    border-width: 0px;  
  }
  
  &__blush {
    background: $blush;
  }
  $background-split-large: 25%;
  $background-split-small: 20%;
  &__split_blush {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,fff0ef+30,fff0ef+100 */
    background: $blush; /* Old browsers */
    background: -moz-linear-gradient(top,  $white 0%, $white $background-split-large, $blush $background-split-large, $blush 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $white 0%,$white $background-split-large,$blush $background-split-large,$blush 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $white 0%,$white $background-split-large,$blush $background-split-large,$blush 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$blush',GradientType=0 ); /* IE6-9 */
    
    @include for-tablet-down {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,fff0ef+30,fff0ef+100 */
      background: $blush; /* Old browsers */
      background: -moz-linear-gradient(top,  $white 0%, $white $background-split-small, $blush $background-split-small, $blush 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  $white 0%,$white $background-split-small,$blush $background-split-small,$blush 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  $white 0%,$white $background-split-small,$blush $background-split-small,$blush 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$blush',GradientType=0 ); /* IE6-9 */
    }
  }
}


// content elements //
.headline {
  flex-basis: 0;
  flex-grow: 6;
  padding: 50px 50px 50px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  
  &__h1 {
    font-size: 8em;
    margin: 0px;
    letter-spacing: 20px;
    @include for-laptop-down {
      font-size: 7em;
    }
  }
}

.content {
  flex-basis: 0;
  flex-grow: 4;
  background: url('../img/iPhoneAndCircles.png');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
}

.box {
  background: $white;
  margin-top: auto;
  padding: 15px;
  
  &--landing {
    padding: 10% 15%;
    @include for-tablet-down {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &--transparent {
    background: transparent;
    padding: 15px 0px;
  }
  &__p {
    @include for-laptop-down {
      font-size: .95em;
    }
  }
}


// callouts & accents //
.callout {
  position: absolute;
  max-width: 250px;
  
  &--class-large {
    right: -50px;
    bottom: 15%;
  }
  &--class-small {
    top: 25px;
    left: 25px;
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
  &--chat {
    width: 100px;
    left: -20px;
    bottom: 10px;
  }
  &--circles {
    z-index: 0;
    right: 15%;
    max-width: 15%;
    @include for-tablet-down {
      max-width: 25%;
      top: -5%;
    }
  }
}

.accent {
  min-width: 65px;
  margin-right: 25px;
  padding: 20px 0px;
  position: relative;
  &__h6 {
    transform: rotate(180deg);
  	writing-mode: vertical-rl;
  }
}

.cta {
  padding: 15px;
  margin-top: 15px;
  &__btn {
    letter-spacing: 3px;
    min-width: 50%;
  }
}


// form elements //
.btn {
  font-family: $chocolates-bold;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0px;
  
  &:hover {
    cursor: pointer;
  }
  
  &--primary {
    background: $dark;
    color: $white;
    &:hover {
      background: darken($dark, 10%);
    }
  }
}
.text_input {
  border: 0px;
  border-bottom: solid 1px transparentize($dark, .5);
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
}
.Dropdown {
  &-hidden {
    display: none;
  }
  &-control {
    border: 0px;
    border-bottom: solid 1px transparentize($dark, .5);
  }
}


// images //
.signature {
  max-width: 25%;
}
.logo {
  max-width: 115px;
  border-right: solid 1px transparentize($dark, .5);
  padding-right: 5%;
  margin-right: 15px;
  box-sizing: content-box;
}


// footer //
.footer {
  margin: 50px auto;
  
  &__links {
    font-family: $gotham-bold;
    letter-spacing: 2px;
    font-size: .5em;
    line-height: 2;
  }
  &__policies {
    font-size: .7em;
    max-width: 75%;
    margin: 0 auto;
  }
}


// breakpoint modifications //
.hidden {
  display: none;
  &--tablet {
    @include for-tablet-down {
      display: none;
    }
  }
}