// Breakpoints
$mobile: 320px;
$tablet: 640px;
$laptop-sm: 1200px;
$laptop: 1440px;
$desktop: 1920px;

@mixin for-tablet-down {
  @media (max-width: 639px) { @content; }
}
@mixin for-laptop-sm-down {
  @media (max-width: 1199px) { @content; }
}
@mixin for-laptop-down {
  @media (max-width: 1439px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1919px) { @content; }
}


// Colors
$blush: #fff0ef; 
$white: #ffffff;
$contrast: #f9e618;
$secondary_contrast: #e7325b;
$dark: #1e1e1e;
$default-text: #111111;

// replacement for Surveyor
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i&display=swap');

@font-face {
  font-family: 'gotham-bold';
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'gotham-book';
  src: url('../fonts/Gotham-Book.otf');
}

@font-face {
  font-family: 'gotham-medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'chocolates-bold';
  src: url('../fonts/Chocolates-Bold.otf');
}

$gotham-book: 'Gotham-Book', Arial, sans-serif;
$gotham-bold: 'Gotham-Bold', Arial, sans-serif;
$gotham-medium: 'Gotham-Medium', Arial, sans-serif;
$chocolates-bold: 'Chocolates-Bold', Arial, sans-serif;
$crimson: 'Crimson Text', serif;


// general //
body {
  cursor: url('../img/RedPenCursor.png'), auto;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: $default-text;
}


// type //
h1 {
  font-family: $chocolates-bold;
  color: $contrast;
  letter-spacing: 6px;
  text-transform: uppercase;
}
h2 {
  font-family: $crimson;
  font-size: 2.4em;
  line-height: 1.5;
  margin: .5em 0;
  @include for-desktop-down {
    font-size: 2.2em;
  }
  @include for-laptop-down {
    font-size: 1.9em;
  }
  @include for-tablet-down {
    font-size: 1.5em;
  }
}
h3 {
  font-family: $chocolates-bold;
  font-size: 3em;
  letter-spacing: 1.5px;
  z-index: 1;
  margin: 0px;
  text-align: right;
  line-height: 1.25;
  
  @include for-desktop-down {
    font-size: 2.2em;
  }
  @include for-laptop-down {
    font-size: 2em;
    text-align: center;
    width: 100%;
  }
}
h4 {
  font-family: $crimson;
  font-style: italic;
  font-size: 1.5em;
  @include for-laptop-sm-down {
    font-size: 1.25em;
  }
  @include for-tablet-down {
    font-size: 1em;
  }
}
h5 {
  font-family: $chocolates-bold;
  color: $contrast;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0px;
  font-size: 1.1em;
}
h6 {
  font-family: $gotham-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}
p {
  font-family: $gotham-book;
  line-height: 1.75;
  letter-spacing: .2px;
}
a {
  color: $secondary_contrast;
  &:hover {
    cursor: pointer;
  }
}


// modifiers //
.uppercase {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}
.contrast_color {
  color: $contrast;
}
.highlight {
  background-color: $contrast;
}
.full-width {
  width: 100%;
}
.constrained_width {
  max-width: 65%;
  margin: 0 auto;
  @include for-laptop-sm-down {
    max-width: 90%;
  }
}
.relative {
  position: relative;
}
.screen-reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  &--space-between {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}


// containers //
.container {
  border: solid 1.5vw $white;
  min-height: 100vh;

  @include for-tablet-down {
    border-width: 0px;  
  }
  
  &__blush {
    background: $blush;
  }
  $background-split-large: 25%;
  $background-split-small: 20%;
  &__split_blush {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,fff0ef+30,fff0ef+100 */
    background: $blush; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear,  left top, left bottom,  from($white),color-stop($background-split-large, $white),color-stop($background-split-large, $blush),to($blush));
    background: linear-gradient(to bottom,  $white 0%,$white $background-split-large,$blush $background-split-large,$blush 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$blush',GradientType=0 ); /* IE6-9 */
    
    @include for-laptop-sm-down {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,fff0ef+30,fff0ef+100 */
      background: $blush; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
      background: -webkit-gradient(linear,  left top, left bottom,  from($white),color-stop($background-split-small, $white),color-stop($background-split-small, $blush),to($blush));
      background: linear-gradient(to bottom,  $white 0%,$white $background-split-small,$blush $background-split-small,$blush 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$blush',GradientType=0 ); /* IE6-9 */
    }
  }
}


// content elements //
.headline {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1.25;
      -ms-flex-positive: 1.25;
          flex-grow: 1.25;
  padding: 50px 50px 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  @include for-laptop-sm-down {
    padding: 10%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  
  &__h1 {
    font-size: 8em;
    margin: 0px;
    letter-spacing: 20px;
    @include for-laptop-down {
      font-size: 7em;
    }
    &--small {
      font-size: 6em;
      letter-spacing: 10px;
      @include for-laptop-sm-down {
        font-size: 3em;
        letter-spacing: 5px;
      }
      @include for-tablet-down {
        font-size: 2em;
        letter-spacing: .75px;
      }
    }
  }
}

.social {
  color: $secondary_contrast;
  border-top: solid 1px transparentize($dark, .7);
  border-bottom: solid 1px transparentize($dark, .7);
  @include for-laptop-sm-down {
    border-top: 0px;
    border-bottom: 0px;
  }
  
  &__icon {
    max-width: 18px;
    vertical-align: middle;
    margin-right: 5px;
    @include for-tablet-down {
      max-width: 12px;
      margin-right: 3px;
    }
  }
  &__link {
    text-decoration: none;
    font-family: "gotham-bold";
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 0px;
    display: inline-block;
    font-size: .65em;
    @include for-laptop-sm-down {
      padding: 5px 0px;
    }
    @include for-tablet-down {
      font-size: 8px;
      letter-spacing: .85px;
    }
    
    &:first-child {
      padding-right: 15px;
      border-right: solid 1px transparentize($dark, .7);
      @include for-tablet-down {
        padding-right: 5px;
      }
    }
    &:last-child {
      padding-left: 15px;
      @include for-tablet-down {
        padding-left: 5px;
      }
    }
  }
}

.content {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3vw;
  max-width: 40%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  @include for-laptop-sm-down {
    background-position: center 15%;
    max-width: 100%;
  }
  @include for-tablet-down {
    background-size: 100%;
  }

  &__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    @include for-laptop-sm-down {
      padding-top: 10%;
    }
    &--hidden-small {
      @include for-laptop-sm-down {
        display: none;
      }
    }
    &_image {
      max-width: 80%;
    }
  }
}

.box {
  background: $white;
  margin-top: 0px;
  padding: 15px;
  
  &--landing {
    padding: 10% 15%;
    @include for-laptop-sm-down {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    @include for-tablet-down {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      padding: 10%;
    }
  }
  &--transparent {
    background: transparent;
    padding: 15px 0px;
  }
  &--sm-bottom-padding {
    padding-bottom: 5%;
  }
  &__p {
    @include for-desktop-down {
      font-size: 1.1em;
    }
    @include for-tablet-down {
      font-size: .75em;
    }
    &--small {
      font-size: .85em;
    }
  }
}


// callouts & accents //
.callout {
  position: absolute;
  max-width: 250px;
  
  &--class-large {
    right: -50px;
    bottom: 15%;
  }
  &--class-small {
    top: 5%;
    left: 5%;
    @media screen and (min-width: $laptop-sm) {
      display: none;
    }
    @include for-tablet-down {
      max-width: 150px;
    }
  }
  &--chat {
    width: 100px;
    left: -20px;
    bottom: 10px;
  }
  &--circles {
    z-index: 0;
    right: 15%;
    max-width: 15%;
    @include for-laptop-sm-down {
      max-width: 25%;
      top: -5%;
    }
  }
}

.accent {
  min-width: 65px;
  margin-right: 25px;
  padding: 20px 0px;
  position: relative;
  &__h6 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  	-webkit-writing-mode: vertical-rl;
  	    -ms-writing-mode: tb-rl;
  	        writing-mode: vertical-rl;
  }
}

.cta {
  padding: 15px;
  margin-top: 15px;
  &__btn {
    letter-spacing: 3px;
    min-width: 50%;
  }
}


// form elements //
.btn {
  font-family: $chocolates-bold;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0px;
  
  &:hover {
    cursor: pointer;
  }
  
  &--primary {
    background: $dark;
    color: $white;
    &:hover {
      background: darken($dark, 10%);
    }
  }
}
.text_input {
  border: 0px;
  border-bottom: solid 1px transparentize($dark, .5);
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
  font-family: "gotham-book";
  &::-webkit-input-placeholder {
    color: transparentize($dark, .7);
  }
  &:-ms-input-placeholder {
    color: transparentize($dark, .7);
  }
  &::-ms-input-placeholder {
    color: transparentize($dark, .7);
  }
  &::placeholder {
    color: transparentize($dark, .7);
  }
}
.Dropdown {
  &-hidden {
    display: none;
  }
  &-control {
    border: 0px;
    border-bottom: solid 1px transparentize($dark, .5);
    padding-left: 0px;
    padding-right: 10px;
    margin: 10px 0px;
    border-radius: 0px;
  }
  &-placeholder {
    font-family: "gotham-book";
  }
  &-menu {
    font-family: "gotham-book";
  }
  &-root.unselected {
    .Dropdown-placeholder {
      color: transparentize($dark, .7);
    }
  }
}


// images //
.signature {
  max-width: 30%;
}
.logo {
  max-width: 115px;
  border-right: solid 1px transparentize($dark, .5);
  padding-right: 5%;
  margin-right: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}


// footer //
.footer {
  margin: 50px auto;
  
  &__links {
    font-family: $gotham-bold;
    letter-spacing: 2px;
    font-size: .5em;
    line-height: 2;
  }
  &__policies {
    font-size: .7em;
    max-width: 75%;
    margin: 0 auto;
  }
}


// breakpoint modifications //
.hidden {
  display: none;
  &--laptop-sm-down {
    @include for-laptop-sm-down {
      display: none;
    }
  }
  &--laptop-down {
    @include for-laptop-down {
      display: none;
    }
  }
}